@charset "utf-8";

.zen-kaku-gothic-new-regular {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 400;
  font-style: normal;
}


/* Drawer Menu */
/* ↓チェックボックスが OFF の場合 */
/* nav 要素 画面上部に固定表示 */
.gMenu {
  /* 右上に固定・前面表示 */
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
  width: 100%;
}

/* input 要素 チェックボックスを非表示 */
.menu-btn {
  display: none;
}

/* label 要素 アイコン作成 */
.menu-icon {
  /* 右上に絶対配置 */
  position: absolute;
  right: 12px;
  top: 16px;
  height: 48px;
  width: 48px;
  border-radius: 50px;
  padding-top: 5px;
  background-color: rgba(0, 0, 0, 0.5);

  /* ポインターの形状 指 */
  cursor: pointer;
  color: #fff;
}

/* span 要素 中央の線作成 */
.navicon {
  /* ブロックレベルへ変更 */
  display: block;
  /* 線の長さ */
  width: 45px;
  /* 線の太さ */
  height: 1px;
  /* 線の色 */
  color: #fff;
  /* ::before と ::after の基準要素 */
  position: relative;
}

/* 上と下の線作成 上下共通 */
.navicon::before,
.navicon::after {
  content: "";
  width: 100%;
  height: 100%;
  background: #fff;
  /* 基準要素 span.navicon に対して絶対配置 */
  position: absolute;
  /* 三本線と X の切替えアニメーション 速く始まりゆっくり終わる */
  transition: all .3s ease-out;
}

/* 下の線のみ */
.navicon::before {
  /* 上からの位置 */
  top: 10px;
}

/* 上の線のみ */
.navicon::after {
  /* 上へ 10px の位置 */
  top: -10px;
}

/* ul 要素 メニュー */
.menu {
  color: #fff;
  background-color: #000;
  font-family: "Zen Kaku Gothic New";
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  border-bottom: 1px solid #fff;

  margin-bottom: 32px;
  text-align: center;
  /* 非表示 */
  overflow: hidden;
  /* 最大の高さ */
  max-height: 0;
  /* 非表示の際のアニメーション */
  transition: max-height 0.6s;


}

/* 1 つ目の li 要素 */
.menu li:first-of-type {
  padding-top: 50px;
}

/* a 要素 */
.menu a {
  display: block;
  /* padding: 24px; */
  margin-bottom: 28px;
  text-decoration: none;

}

.menu a:hover {
  background-color: #000;
}

/* ↓チェックボックスが ON の場合 */
/* 非表示にしていた ul.menu を表示 */
.menu-btn:checked~.menu {
  max-height: inherit;
  height: 100vh;
  /* 元 0px */
  /* 表示の際のアニメーション */
  transition: max-height 0.5s;
}

/* 中央の線を非表示 */
.menu-btn:checked~.menu-icon .navicon {
  background: transparent;
  /* ↑チェックボックスが OFF の場合 */

}

/* 上下の線を 45 度傾けて X アイコンを作成 */
.menu-btn:checked~.menu-icon .navicon::before {
  /* 反時計回りに回転 */
  transform: rotate(-45deg);
  top: 0;
  /* 元 10px */
}

.menu-btn:checked~.menu-icon .navicon::after {
  /* 時計回りに回転 */
  transform: rotate(45deg);
  top: 0;
  /* 元 -10px */
}

img {
  width: 100px;
  height: 39.6px;
}

/* ローディングアニメーション */

/* ロゴの位置、背景設定 */
#loading {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #0180BE;
  z-index: 555;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes taiwan_logo_loading {
  0% {
    opacity: 0
  }

  20% {
    opacity: 0.3;
  }

  40% {
    opacity: 0.6;
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.taiwan_logo {
  animation-name: taiwan_logo_loading;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

/* jsでクラスloadedを付与　その後設定した要素を消す */
.loaded {
  opacity: 1;
  visibility: hidden;
}

/* ここまで */




/* footer部分　css */

footer {
  background: #0180BE;
  text-align: center;
  color: #fff;
}

ul,
.flag,
small {
  margin: 20px 0;
}

.flag {
  padding-top: 20px;
}

footer ul {
  list-style: none;
  font-size: 12px;
  padding-left: 0px;
}

.footer_menu {
  width: 200px;
  margin: 0 auto;
  text-align: left;
}

.footer_menu li {
  border-bottom: 1px #fff solid;
  padding-bottom: 8px;
  padding-top: 12px;
}

.footer_menu li a {
  color: #fff;
  text-decoration: none;
  margin-left: 7.5px;
}

.sns_link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sns_link li {
  margin-right: 20px;
}

.sns_link img {
  width: 30px;
  object-fit: contain;
}

small {
  padding-bottom: 20px;
  text-transform: capitalize;
}

span {
  text-transform: uppercase;
}