@charset "utf-8";

.zen-kaku-gothic-new-regular {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
  background: url(../../トップ/images/top_header_bg.jpg) no-repeat right center/cover;
  height: 667px;
}

h1 img {
  width: 335px;
  height: 135px;
  margin: 160px 20px 372px;
}

a.header_logo img {

  position: fixed;
  width: 100px;
  height: 39.6px;
}

/* Drawer Menu */
/* ↓チェックボックスが OFF の場合 */
/* nav 要素 画面上部に固定表示 */
.gMenu {
  /* 右上に固定・前面表示 */
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
  width: 100%;
}

/* input 要素 チェックボックスを非表示 */
.menu-btn {
  display: none;
}

.gMenu img,
.menu-icon {
  /* 右上に絶対配置 */
  position: absolute;
  right: 5px;
  top: 16px;
  height: 48px;
  width: 48px;
  padding-top: 5px;

  /* ポインターの形状 指 */
  cursor: pointer;
  color: #fff;
}

/* ul 要素 メニュー */
.menu {
  color: #fff;
  background-color: #000;
  font-family: "Zen Kaku Gothic New";
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline 0.3px;
  margin-bottom: 32px;
  text-align: center;
  /* 非表示 */
  overflow: hidden;
  /* 最大の高さ */
  max-height: 0;
  /* 非表示の際のアニメーション */
  transition: max-height 0.6s;
}

/* 1 つ目の li 要素 */
.menu li:first-of-type {
  padding-top: 120px;
}

/* a 要素 */
.menu a {
  display: block;
  /* padding-top: 24px; */
  margin-bottom: 28px;
  margin-top: 32px;
  text-decoration: none;
}

.menu a:hover {
  background-color: #000;
}

/* ↓チェックボックスが ON の場合 */
/* 非表示にしていた ul.menu を表示 */
.menu-btn:checked~.menu {
  max-height: inherit;
  height: 100vh;
  /* 元 0px */
}

.menu-btn:checked~.gMenu {
  background: transparent;
  /* ↑チェックボックスが OFF の場合 */
}

img {
  width: 100px;
  height: 39.6px;
}

/* ローディングアニメーション */

/* ロゴの位置、背景設定 */
#loading {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #0180BE;
  z-index: 555;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes taiwan_logo_loading {
  0% {
    opacity: 0
  }

  20% {
    opacity: 0.3;
  }

  40% {
    opacity: 0.6;
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.taiwan_logo {
  animation-name: taiwan_logo_loading;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

/* jsでクラスloadedを付与　その後設定した要素を消す */
.loaded {
  opacity: 1;
  visibility: hidden;
}

/* ここまで */




/* footer部分　css */

footer {
  background: #0180BE;
  text-align: center;
  color: #fff;
  font-family: "Noto Sans JP", sans-serif;
}

footer ul,
.flag,
small {
  margin: 20px 0;
}

.flag {
  padding-top: 20px;
}

footer ul {
  list-style: none;
  font-size: 12px;
  padding-left: 0px;
}

.footer_menu {
  width: 200px;
  margin: 0 auto;
  text-align: left;
}

.footer_menu li {
  border-bottom: 1px #fff solid;
  padding-bottom: 8px;
  padding-top: 12px;
}

.footer_menu li:nth-child(1) a,
span {
  text-transform: uppercase;
}

.footer_menu li a {
  color: #fff;
  text-decoration: none;
  margin-left: 7.5px;
}

.sns_link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sns_link li {
  margin-right: 20px;
}

.sns_link img {
  width: 30px;
  object-fit: contain;
}

small {
  display: block;
  padding-bottom: 20px;
  text-transform: capitalize;
  margin-bottom: 0;
  font-size: 10px;
}

.pc_logo {
  visibility: hidden;
}

@media screen and (min-width:780px) {

  /* footer */
  .wrapper {
    display: flex;
    justify-content: space-around;
    align-items: end;
  }

  .footer_menu {
    flex-basis: 25%;
    margin: 0;
  }

  .pc_logo {
    flex-basis: 20%;
    visibility: visible;
    display: flex;
    justify-content: left;
    transform: translate(20px);
  }

  .pc_logo img {
    transform: scale(2.0);
  }



  .sns_link {
    flex-basis: 18%;
    margin: 0;
  }

  .sns_link img {
    width: 55px;
  }

  small {
    font-size: 12px;
  }


}

@media screen and (min-width:1024px) {

  /* footer部分 */
  footer {
    display: grid;
    place-content: center;
  }

  .king_wrapper {
    width: 1024px;
  }
}