@charset "utf-8";

:root {
  --bgcolor: #F4F4F4;
  --fcolor: #000;
  --smfsize: 12px;
  --mdfsize: 20px;
  --lgfsize: 30px;
  --lgsp: 60px;
  --mdsp: 40px;
  --smsp: 20px;
  --pclf: 48px;
  --pcmf: 32px;
  --pcmsp: 80px;
  --pclsp: 120px;
}

/* 全体共通 */
main {
  text-align: center;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: var(--smfsize);
  background-color: var(--bgcolor);
}

main section {
  padding-top: var(--lgsp);
}

main h2 {
  margin-bottom: var(--mdsp);
  font-size: var(--lgfsize);
  text-transform: capitalize;
}

main h2 span {
  font-size: var(--smfsize);
}


main p {
  margin: 0 auto;
  width: 60vw;
  text-align: left;
  padding-top: 12px;
  padding-bottom: 12px;
  border-top: 1px solid var(--fcolor);
  border-bottom: 1px solid var(--fcolor);
  margin-bottom: var(--smsp);
}

.gallery h2,
.travel h2,
.event h2,
.basic_info h2 {
  display: inline-block;
  padding: 8px var(--mdsp);
  background: url(../images/hedding_line.png) bottom center/contain no-repeat;
}

main img {
  max-width: 100%;
  object-fit: contain;
}


/* ふぉるもさ紹介部分 */
.introduction {
  padding: 0;

}

main .introduction h2 {
  font-size: var(--mdfsize);
}

.introduction img {
  height: 140px;
}

main .flg {
  margin-bottom: var(--mdsp);
}

main .flg img {
  width: 24px;
  height: 35px;
}

.int_top {
  padding-bottom: var(--lgsp);
  padding-top: var(--lgsp);
  background: url(../images/formosa1_bg.jpg) no-repeat left top/cover;
}


.int_top h2 span {
  display: inline-block;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--fcolor);
}

.int_bottom {
  background: url(../images/formosa2_bg.jpg) no-repeat left top/cover;
  padding-bottom: var(--lgsp);
  padding-top: var(--lgsp);
}

/* gallery */
.slider {
  margin: 0 auto;
  width: 83%;
}

.slider img {
  height: 300px;

}

#main_image2,
#main_image3 {
  display: none;
}

#btn_line {
  display: flex;
  justify-content: center;
  margin-top: var(--smsp);
}

.slider li {
  margin-right: var(--mdsp);

}

input[type=radio] {
  display: none;
}

input[type=radio]:checked+label {
  background-color: var(--fcolor);

}

.slider li label {
  display: block;
  background-color: #0000004b;
  width: 18px;
  height: 18px;
  border-radius: 50%;
}


/* map */
.map {
  margin-top: var(--smsp);
  position: relative;
  margin: 0 auto;
}

.map_base {
  z-index: -1;
  width: 64%;
}

.mini_name {
  width: 13%;
  position: absolute;
}

#map_taipei {
  top: 5%;
  right: 15%;
}

#map_taichu {
  top: 25%;
  left: 20%;
}

#map_tainan {
  top: 80%;
  right: 50%;
}





/* event */
.event h3 {
  font-size: var(--mdfsize);
}

.event img {
  width: 335px;
  margin-bottom: var(--smsp);
  margin-top: var(--smsp);
}

.event_period,
.event_date {
  border: none;
  text-align: center;
  margin-bottom: 8px;
  padding: 0;
}

.event_period {
  font-weight: bold;
}

.event_date {
  margin-bottom: var(--smsp);
}

.event_tan,
.event_count {
  padding: 0;
}

.event_tan {
  margin-bottom: var(--mdsp);
}

.event_info {
  margin-bottom: 0;
}

/* 台湾基本情報 */
.basic_info {
  padding-bottom: 60px;
}

.dl_big {
  width: 70%;
  margin: 0 auto;
}

.dl_big dt::after {
  content: ":";
  margin: 0 5px;
}

.dl_big dt {
  float: left;
  display: list-item;
  list-style-position: inside;
  list-style-type: square;
  color: var(--fcolor);
}

.dl_big dt,
.dl_big dd {
  text-align: left;
}

.basic_info dt span {
  padding-left: 4px;
}

.big_item {
  padding-left: 1rem;
}

.dl_celeblate {
  display: flex;
  flex-wrap: wrap;
  text-indent: 1rem;
  width: 100%;
}

.dl_celeblate dt {
  list-style-type: none;
  flex-basis: 22%;
  font-weight: 400;
  text-align: left;
  float: none;
}

.dl_celeblate dt::after {
  content: none;
}

.dl_celeblate dd {
  flex-basis: 78%;
}




@media screen and (min-width:768px) {

  /* 全体 */
  main {
    font-size: var(--mdfsize);
    text-align: start;
  }

  main h2 {
    font-size: var(--pclf);
  }

  main h2 span {
    font-size: var(--pcmf);
  }

  main section {
    padding-top: var(--pclsp);
  }

  main p {
    width: 30%;
  }

  main h2 {
    margin-bottom: var(--pcmsp);
  }

  .gallery h2,
  .travel h2,
  .event h2,
  .basic_info h2 {
    padding: 24px var(--lgsp);
  }

  .gallery h2,
  .event h2 {

    margin-left: 7vw;

  }




  /* introduction */
  .introduction {
    margin: 0 auto;
    text-align: center;
  }

  .introduction img {
    width: 130%;
  }

  main .introduction h2 {
    font-size: 3vw;
  }

  .int_top,
  .int_bottom {
    padding-top: var(--pcmsp);
    padding-bottom: var(--pcmsp);
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .int_top {
    background: url(../images/pc_formosa_bg1.jpg) no-repeat left top/cover;

  }

  .int_top .flg {
    transform: translateX(170%);
    display: block;
    width: 10vw;
  }

  .int_top .flg img {
    width: 10vw;
    display: inline;
  }

  .int_top h2 {
    text-align: left;
  }

  .int_top h2 span {
    border: none;
  }

  .flex_pc,
  .int_bottom p {
    flex-basis: 35%;
  }

  .formasa1,
  .formasa2 {
    flex-basis: 40%;
  }

  .int_bottom {
    background: url(../images/pc_formosa_bg2.jpg) no-repeat left top/cover;

  }

  .int_bottom p {
    margin: 0;
  }

  /* gallery */
  .slider div {
    display: flex;
    justify-content: space-evenly;
  }



  #main_image2,
  #main_image3 {
    display: block;
  }

  /* taravel */
  .travel {
    text-align: right;
  }

  .travel h2 {
    margin-right: 7vw;
  }

  .travel_flex {
    display: flex;
    justify-content: space-evenly;
  }

  .travel_flex p {
    margin: 0;
    align-self: center;
  }

  .travel img {
    width: 30vw;
  }

  .travel .mini_name {
    width: 23%;
  }

  #map_taipei {
    top: 5%;
    right: -8%;
  }

  #map_taichu {
    top: 25%;
    left: 0;
  }

  /* event */


  .event_tan,
  .event_count {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    align-items: flex-start;
  }

  .event h3 {
    font-size: 36px;
    text-align: left;
  }

  .event img {
    width: 42vw;
  }

  .event_time {
    align-self: center;
  }

  .event p {
    margin-bottom: 40px;
  }

  /* 台湾基本情報 */
  .basic_info {
    text-align: center;
  }


  .basic_info dl {
    font-size: var(--smsp);
  }


  .dl_big {
    border: 2px solid var(--fcolor);
    padding: var(--mdsp);
  }
}

@media screen and (min-width:1024px) {

  main section {
    width: 1024px;
    margin: 0 auto;
  }
}